@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------------------------------- mise en page ----------------------------------------------- */

html,
body {
    overflow-x: hidden;
}

body * {
    font-family: 'Syne', sans-serif;
}

#content {
    margin-top: -30px;
}

a:hover {
    border: none;
    color: #ffffff !important;
}

/* ------------------------------------------  header --------------------------------------- */




#site-navigation {
    max-width: 1440px;
    height: 80px;
    margin-top: 0;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

#masthead {
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 80px;
}

#masthead .site-logo .custom-logo {
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    padding: 0;
}


/* ------------------------------------------------  nav --------------------------------------------*/

.primary-menu-container {
    width: auto;
}

.entry-header {
    display: none;
}

#main {
    padding: 0;
}

/* ////////////////          menu de navigation               ////////////////////////////*/

/* ------------------------------------  menu utilisateur non connecté -------------------------------------*/

#menu-primary-2 {
    height: 80px;
}

#menu-primary-2 li:hover {
    background-color: #c02e44;
    color: #ffffff;
}

.menu-item-32 {
    background-color: #DC9F96;
    color: #ffffff;
}

.menu-item-32:hover {
    background-color: #DC9F96;
    color: #ffffff;
}

/* -------------------------------------  menu utilisateur connecté --------------------------------------*/
#menu-primary_logged_in-2 {
    height: 80px;
}

#menu-primary_logged_in-2 :hover {
    background-color: #c02e44;
    color: #ffffff;
    text-decoration: none;
}

.menu-item-370 {
    background-color: #DC9F96;
    color: #ffffff;
}

/* ----------------------------------------  page d'accueil ---------------------------------------------*/
/* blocs de contenu */


/* sections */


#post-7 .bloc1 {
    background-color: #ECE2DA;
    padding-top: 100px;
    border-bottom: 10px solid #e3d8d0;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#post-7 .bloc2 {
    padding: 100px 0 100px 0;
}

#post-7 .bloc2 p {
    margin: 0;
    line-height: 24px;
}

#post-7 .bloc3 {

    padding: 100px 0 100px 0;
}

#main .lesgouts .galerie {

    max-width: none;
    width: 900px;
}

#main .lesgouts .galerie img {
    width: 393px;
    height: 262px;
    margin: 3%;

}

#post-7 .bloc4 #post-7 .temoignages {
    padding: 5% 0 0 0;
}

#post-7 .lesgouts {
    border-bottom: 30px solid #ECE2DA;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* -------------------------------------  page "nous rencontrer" ----------------------------------------------*/


.bloc1-1 .wp-block-group__inner-container {
    background-color: #ECE2DA;
    padding: 2% 0 5% 0;
    border-bottom: 3px solid #e3d9d0;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.nous-rencontrer {
    padding-top: 3%;
}

.equipe h2 {
    margin-top: 50px !important;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.personne h3 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.membres {
    width: 80% !important;
}

.fleur1 {
    margin-right: 28%;

}

.fleur1 img {
    margin-right: 50%;
    margin-top: -50px;

}

.fleur-16 .wp-image-373 {
    margin-top: 310px;
    margin-left: 110px;
}


/* --------------------------------------------------------   formulaire -----------------------------------------------*/
.nous-contacter h2 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.formulaire-contact {
    display: flex;
    z-index: 100;
}



.branche img {
    margin-bottom: 5%;
    margin-top: -100%;
    z-index: 100;
}

.nf-field-element {
    z-index: 1;
}

.nf-form-content {
    max-width: 1000px;
    margin: 0 auto;
    width: 400px;

}



#nf-form-1-cont {
    width: 100%;
}

#nf-field-1 {
    border-radius: 5px;
}

#nf-field-2 {
    border-radius: 5px;
}

#nf-field-3 {
    border-radius: 5px;
}

#nf-field-4 {
    background-color: #E0B9B4;
    margin-left: 23%;
    width: 50%;
}

/* photo cannettes bas de page */
#post-9 .can {
    background-color: #ECE2DA;

}




/* header */


.header-commander {
    display: flex;
}

.header-commander .wp-block-group__inner-container {
    width: 860px;

}


.top-commander h2 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ffffff;
}

.top-commander h3 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
}

#nf-form-title-2 h3 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}

#nf-form-title-3 h3 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;

}


/* -----------  fin header ------*/

/* ----------------section commande------------------------------------------------------------------ */


#post-11 .commande .wp-block-group__inner-container {
    display: block;
    background-color: #3B8E46;
    max-width: 860px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ffffff;

}

#post-11 .commande .produit {
    max-width: 193px;
    padding: 1%;
}

#post-11 .commande .produit .set-commande {
    display: flex;
    justify-content: space-around;
    height: 56px;
    max-width: 193px;

}

#post-11 .commande .produit .quantite {
    display: block;
    width: 56px;
}

#post-11 .commande .produit .quantite h5 {
    height: 56px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
}

#post-11 .commande .produit .plus-moins {
    display: block;
    height: 56px;
    width: 31px;
    margin-left: -11px;
    background-color: #DC9F96;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#post-11 .commande .produit .signe-moins {
    border-top: 1px solid #ffffff;
}

#post-11 .commande .produit .bt-commande a {
    height: 56px;
}

#post-11 .commande .produit .btn-ok {
    width: 85px;
    height: 56px;
}

/* --------------------------------------------- formulaire ---------------------------------------------------*/
#post-11 .form-commande {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

#nf-form-title-2,
#nf-form-title-3 {
    font-family: 'syne';
    font-size: 30px;
    font-weight: 700;
}

#nf-field-5-container .nf-field,
#nf-field-9-container .nf-field {
    margin-top: 50px;
}



#nf-field-5,
#nf-field-6,
#nf-field-7,
#nf-field-8,
#nf-field-9,
#nf-field-10,
#nf-field-11 {
    border-radius: 10px;

}


#post-11 .formulaire_commande .btn-commander {
    border-radius: 5px;
    padding: 0 35px 50px 0;
}

#post-11 .formulaire_commande .form_commande {
    outline: 1px red;

}

#nf-form-title-3 {
    margin-left: -10px;

}

#nf-form-3-cont .nf-form-layout .nf-form-content {
    margin-left: -20px;
}




#nf-form-2-cont {
    border-right: 1px solid #ffffff;
    padding-right: 60px;

}





/* ----------------------------------------------  footer ------------------------------------------------*/


#colophon .site-info {
    text-align: center;



}

#colophon .site-info a {
    border-bottom: none;
    text-decoration: none;
    border: none;
}

#colophon .site-info a:hover {
    text-decoration: none;
}

/* -----------------------------  responsive  ----------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 480px) {


    #masthead .menu-button-container {
        margin-left: 65%;
    }

    #masthead .site-logo .custom-logo {
        max-width: 300px;
        max-height: 300px;
        width: 135px;
        height: 50%;
        padding: 0;
    }

    #masthead {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #masthead .menu-button-container {
        width: 30%;
    }

    #primary-open-menu {
        background-color: #c02e44;
        height: 50px;
    }

    #primary-close-menu {
        background-color: #c02e44;
        height: 50px;

    }

    #primary-open-menu .dropdown-icon.open {
        color: #ffffff;
    }

    #primary-close-menu {
        color: #ffffff;

    }

    #site-navigation {
        width: 20%;
    }

    #masthead .site-branding {
        width: 30%;
        margin-right: 70%;
    }

    #masthead .site-branding .site-logo {
        height: 80px;
    }

    #menu-primary-2 a {
        font-size: 16px;
    }

    #primary-open-menu:hover {
        background-color: #c02e44;
    }

    /* polices */
    #post-11 .header-commander .titreh2vert {
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        color: #3B8E46;
        font-size: 18px !important;

    }

    #post-7 .bloc1 .titreh2vert {
        font-size: 20px;
        font-weight: 700;

    }

    #post-7 .bloc2 .titreh3vert {
        font-size: 20px;
        font-weight: 700;

    }

    #post-7 .lesgouts .titreh2rose {
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        color: #D2776A;
        font-size: 20px;

    }

    #post-9 .bloc1-1 .titreh2rose {
        font-weight: 800;
        color: #D2776A;
        font-size: 20px;
    }

    /* sections */

    /* section "les goûts" */
    #post-7 .bloc1 {
        padding-top: 40px;

    }

    #post-7 .bloc2 {
        padding: 40px 0 20px 0;
    }


    #post-7 .paragraphe {
        font-family: 'Syne', sans-serif;
        font-size: 13px;
        line-height: 21px;
        margin: 0;
        padding: 0;

    }

    #post-7 .lesgouts {
        display: block;
        max-width: none;
        min-width: 300px;
        margin: 0 auto;
        padding: 0;
    }

    #main .lesgouts .galerie {
        display: block;
        width: 90%;
    }

    #post-7 .lesgouts .image {
        padding: 0;
        width: 100% !important;

    }

    #post-7 .lesgouts .image img {
        padding: 0;
        width: 94% !important;

    }

    #post-7 .bloc3 {
        padding: 40px 0 0 0;
    }

    #post-7 .lesgouts a {
        margin-top: 30px;
    }

    /* section "ce qu'ils en pensent " */

    #main .bloc4 .temoignages {
        width: 100%;
        padding: 0 !important;
    }

    #main .bloc4 .temoignages h2,
    #main .bloc4 .temoignages p {
        text-align: center;

    }

    #post-7 .bloc4 .temoignages img {
        width: 50%;
    }

    #post-7 .bloc4 h2 {
        font-size: 20px;
        font-weight: 700;
    }



    /* -----------------  page "nous rencontrer" -------------------- */

    html,
    body {
        overflow-x: hidden;
    }

    #post-9 .bloc1-1 {
        display: block;
        min-width: 320px;

    }

    #post-9 .bloc1-1 .fleur1 {
        display: flex;
        justify-content: center;
        width: 90%;


    }

    #post-9 .bloc1-1 .fleur1 img {
        margin-top: 20px;
        padding: 0;
    }


    #post-9 .bloc1-1 h2 {
        font-size: 15px;
        padding-bottom: 3px;
        text-align: center;
    }

    #post-9 .bloc1-1 .chezplanty p {
        width: 90%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    /* section "l'équipe" */
    #post-9 .equipe {
        min-width: 320px;

    }

    #post-9 .equipe .membres {
        margin-left: auto;
        margin-right: auto;
        min-width: 320px;
    }


    #post-9 .equipe h2 {
        text-align: center;
    }

    #post-9 .equipe .branche {
        width: 40%;
        margin-left: 60%;
    }


    /* formulaire de contact */
    #post-9 .nous-contacter {
        display: block;
        min-width: 320px;
        padding: 30px 0 0 0;
    }

    #post-9 .nous-contacter h2 {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
        text-align: center;
    }

    #post-9 .nous-contacter .formulaire-contact {
        width: 90%;
    }

    #post-9 .nous-contacter .fleur-16 {
        height: 50px;
    }

    #post-9 .nous-contacter .fleur-16 img {
        width: 30%;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
    }

    #nf-form-1-cont {
        min-width: 260px;
    }


    #nf-form-1-cont .nf-form-content {
        width: 85%;
    }



    /* -------------------------------------  page "précommande"  --------------------------------------*/
    #post-11 .header-commander .top-commander h2 {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 800;
        font-size: 23px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ffffff;
    }

    #post-11 .header-commander .top-commander h3 {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 46px;
        text-align: center;
    }

    #post-11 .header-commander {
        min-width: 340px;
        padding: 0;
    }

    #post-11 .commande {
        min-width: 340px;
    }

    #post-11 .commande .produit {
        width: 100%;
        min-width: 200px;
    }

    #post-11 .commande .produit .set-commande {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: none;

    }

    #post-11 .commande .produit.set-commande {
        padding: 0;
        margin: 0;

    }

    #post-11 .commande .produit .quantite {
        max-height: 56px;
    }

    #post-11 .commande .produit .quantite h5 {
        max-height: 56px;
    }

    #post-11 .commande .produit .plus-moins.is-layout-flex {
        display: block;
        height: 56px;
        width: 31px;
        margin-left: -11px;
        background-color: #DC9F96;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

    }

    #post-11 .commande .produit .plus-moins h5 {
        max-height: 10px !important;
    }

    #post-9 .formulaire-contact .alignright .size-full .is-resized {
        width: 100%;
        background-color: aqua;
    }

    #post-9 .nous-contacter .formulaire-contact .fleur-16 img {
        margin-top: 3%;

    }



    /* formulaire de commande */

    #post-11 .formulaire_commande {
        min-width: 320px;
        outline: 1px solid red;
    }




    #post-11 .formulaire_commande .btn-commander {
        border-radius: 5px;
        padding: 0 !important;

    }
}

@media only screen and (min-width: 482px) and (max-width: 768px) {

    #masthead {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #masthead .site-branding {
        display: block;
        width: 25%;
        height: 80px;
        margin: 0;
        padding-top: 3%;
    }

    #masthead .site-branding .site-logo {
        height: 80px;
    }

    #masthead .site-branding .site-logo img {
        max-width: 300px;
        width: 120px;
    }

    #masthead #site-navigation {
        width: 75%;
    }

    /* polices */

    #post-7 .bloc1 h2 .titreh2vert {
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        color: #3B8E46;
        font-size: 25px !important;

    }

    #post-7 h2 .titreh3vert {

        font-family: 'Syne', sans-serif;
        font-weight: 700;
        color: #3B8E46;
        font-size: 15px;

    }

    #post-7 .bloc2 .paragraphe {
        font-family: 'Syne', sans-serif;
        font-style: normal;
        font-weight: 400;
        color: #000000;
        font-size: 13px;
        text-align: center;
        line-height: 0;
        margin-bottom: 0;

    }

    #post-7 .lesgouts .titreh2rose {
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        color: #D2776A;
        font-size: 20px;

    }

    #post-7 .lesgouts .galerie {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #post-7 .lesgouts .galerie img {
        width: 100% !important;
        height: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;

    }

    #post-9 .bloc1-1 {
        display: block;
        height: auto;
        padding: 2% 0 5% 0;

    }

    #post-9 .bloc1-1 .chezplanty p {
        width: 90%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
    }

    #post-7.bloc2 {
        width: 80%;

    }

    #post-7.bloc2 p {
        line-height: 21px;
    }


    #post-7 .lesgouts .bloc3 {
        display: block;
        height: auto;
        padding: 0;
    }

    .wp-block-spacer {
        height: 20px !important;
    }

    #post-7 .titreh2vert {
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        color: #3B8E46;
        font-size: 25px;

    }

    .bloc1-1 {
        height: auto;
    }

    #post-9 .bloc1-1 .nous-rencontrer .fleur1 {
        display: flex;
        justify-content: center;
        height: auto;
        margin: 0;
        padding-top: 5%;
    }

    #post-9 .bloc1-1 .nous-rencontrer h2 {
        text-align: center;
    }

    #post-9 .equipe h2 {
        padding-top: 5%;
        font-family: 'Syne';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
    }

    #post-9 .equipe .membres h2 {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
    }

    #post-9 .equipe .branche img {
        display: none;
    }

    #post-9 .nous-contacter.formulaire-contact .fleur-16 img {
        display: none;
    }

    #nf-form-1-cont {
        width: 100%;
    }

    #post-11 .commande {
        display: block;
        background-color: #3B8E46;
        padding-bottom: 50px;
        width: 100%;
        border-bottom: 1px solid #ffffff;

    }

    #post-11 .header-commander .top-commander h3 {
        text-align: center;

    }

    #post-11 .commande {
        display: block;
        max-width: none;

    }

    #post-11 .commande .produit .set-commande {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: none;
        padding: 0;
        margin: 0;

    }

    #post-11 .commande .produit .plus-moins {
        display: block;
        height: 56px;
        width: 31px;
        margin-left: -11px;
        background-color: #DC9F96;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

    }

    #post-11 .commande .produit .plus-moins h5 {
        max-height: 0;
    }

    #post-11 .commande .produit .nf-form-content {
        width: 85%;
        margin-left: -3%;
    }



    #nf-field-6-wrap .nf-field-element {
        width: 90%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {


    #masthead {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        height: 80px;

    }

    #masthead .site-logo .custom-logo {
        max-width: 300px;
        max-height: 300px;
        width: 300px;
        padding: 0;
    }


    #post-11 .commande {
        display: flex;
        justify-content: space-between;
        background-color: #3B8E46;
        padding-bottom: 50px;
        border-bottom: 1px solid #ffffff;

    }

    #post-11 .commande .produit .set-commande {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: none;

    }

    #post-11 .commande .produit .plus-moins {
        display: block;
        height: 56px;
        width: 31px;
        margin-left: -11px;
        background-color: #DC9F96;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

    }

    #post-9 .equipe .branche img {
        display: none;
    }

    #post-11 .commande .produit .set-commande .is-layout-flex {
        padding: 0;
        margin: 0;

    }

    #post-11 .commande .produit .nf-form-content {
        width: 85%;
        margin-left: -3%;
    }

    #post-11 .formulaire_commande {
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;
        color: #ffffff;
    }


    #nf-form-1-cont {
        width: 85%;
    }
}