@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------------------------------- mise en page ----------------------------------------------- */

html,
body {
    overflow-x: hidden;
}

body * {
    font-family: 'Syne', sans-serif;
}

#content {
    margin-top: -30px;
}

#menu-primary_logged_in-2 a {
    border-bottom: none;
    text-decoration: none;
}

/* ------------------------------------------  header --------------------------------------- */


#site-navigation {
    max-width: 1440px;
    height: 80px;
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#masthead {
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 80px;
}

#masthead .site-logo .custom-logo {
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    padding: 0;
}

/* ------------------------------------------------  nav --------------------------------------------*/


#primary-close-menu .primary-menu-container {
    width: auto;
}

#post-7 .entry-header {
    display: none;
}

#post-11 .entry-header {
    display: none;
}

#main {
    padding: 0;
}

/* ////////////////          menu de navigation               ////////////////////////////*/

/* ------------------------------------  menu utilisateur non connecté -------------------------------------*/

#menu-primary-2 {
    height: 80px;
}

#menu-primary-2 li:hover {
    background-color: #c02e44;
    color: #ffffff;
}

/* -------------------------------------  menu utilisateur connecté --------------------------------------*/

#menu-primary_logged_in-2 {
    height: 80px;
}

#menu-primary_logged_in-2 :hover {
    background-color: #c02e44;
    color: #ffffff;
    text-decoration: none;
}

#menu-primary_logged_in-2 .menu-item-370 {
    background-color: #DC9F96;
    color: #ffffff;
}

#menu-primary_logged_in-2 .menu-item-370:hover {
    background-color: #c02e44;
    color: #ffffff;
}

#menu-primary_logged_in-2 .menu-item-370 a:hover {
    background-color: #c02e44;
    color: #ffffff;
}

/* polices */

.titreh2vert {
    font-size: 38px;
    font-weight: 800;
    color: #3B8E46;
}

.titreh3vert {
    font-size: 30px;
    font-weight: 700;
    color: #3B8E46;
}

.titreh2rose {
    font-size: 38px;
    font-weight: 800;
    color: #d2776a;
}

/* blocs de contenu */
/* sections */
/* ----------------------------------------  page d'accueil ---------------------------------------------*/


#post-7 .bloc1 {
    background-color: #ECE2DA;
    padding-top: 100px;
    border-bottom: 10px solid #e3d8d0;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#post-7 .bloc2 {
    padding: 100px 0 100px 0;
}

#post-7 .bloc2 p {
    margin: 0;
    line-height: 24px;
}

#post-7 .bloc3 {

    padding: 100px 0 100px 0;
}

#main .lesgouts .galerie {

    max-width: none;
    width: 900px;
}

#main #post-7 .lesgouts .galerie .image {
    width: 393px;
    height: 262px;
    margin: 3%;
    width: 40%;

}

#post-7 .bloc4 .temoignages {
    padding: 5% 0 0 0;
}

#post-7 .lesgouts {
    border-bottom: 30px solid #ECE2DA;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* -------------------------------------  page "nous rencontrer" ----------------------------------------------*/

#post-9 .entry-title {
    display: none;
}

.bloc1-1 .wp-block-group__inner-container {
    background-color: #ECE2DA;
    padding: 2% 0 5% 0;
    border-bottom: 3px solid #e3d9d0;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

#post-9 .bloc1-1 .nous-rencontrer {
    padding-top: 3%;
}

#post-9 .bloc1-1 h2 {
    margin-left: -10%;
    margin-top: 5%;
}

#post-9 .bloc1-1 .chezplanty-p {
    width: 43%;
    margin-left: auto;
    margin-right: auto;
}

#post-9 .equipe h2 {
    margin-top: 50px !important;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

#post-9 .equipe .membres .personne h3 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

#post-9 .equipe .membres {
    width: 80%;
}

#post-9 .bloc1-1 .fleur1 {
    margin-right: 28%;

}

#post-9 .bloc1-1.fleur1 img {
    margin-right: 50%;
    margin-top: -50px;

}

#post-9 .nous-contacter .formulaire-contact .fleur-16 img {
    margin-top: 205%;
    margin-left: 85%;
}

#post-9 .nous-contacter .formulaire-contact {
    margin-right: 35%;

}

/* -------------------------------   page "nous rencontrer" >>> formulaire -----------------------------------------------*/

#post-9 .nous-contacter h2 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

#post-9 .nous-contacter.formulaire-contact {
    display: flex;
    z-index: 100;
}


#post-9 .equipe .branche img {
    margin-bottom: -5%;
    margin-top: -100%;
    z-index: 100;
}


#nf-form-1-cont .nf-form-layout form .nf-form-content {
    max-width: 1000px;
    margin: 0 auto;
    width: 400px;

}

#nf-form-1-cont {
    width: 100%;
}

#nf-field-1 {
    border-radius: 5px;
}

#nf-field-2 {
    border-radius: 5px;
}

#nf-field-3 {
    border-radius: 5px;
}

#nf-field-4 {
    background-color: #E0B9B4;
    margin-left: 23%;
    width: 50%;
}



/* -------------------------------------- page commande --------------------------------------------------*/


/* header */


.header-commander {
    display: flex;
}

.header-commander .wp-block-group__inner-container {
    width: 860px;

}


.top-commander h2 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ffffff;
}

.top-commander h3 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
}

#nf-form-title-2 h3 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}

#nf-form-title-3 h3 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;

}


/* -----------  fin header ------*/

/* -----------------------------------------------   section commande   --------------------------------- */

#post-11 .commande .wp-block-group__inner-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #3B8E46;
    max-width: 860px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ffffff;

}

#post-11 .commande .produit {
    max-width: 193px;
    margin-top: 0;
    margin-bottom: 1%;

}

#post-11 .commande .produit .set-commande {
    display: flex;
    justify-content: space-around;
    height: 56px;
    max-width: 193px;

}

#post-11 .commande .produit .quantite {
    display: block;
    width: 56px;
}

#post-11 .commande .produit .quantite h5 {
    height: 56px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
}

#post-11 .commande .produit .plus-moins {
    display: block;
    height: 56px;
    width: 31px;
    margin-left: -11px;
    background-color: #DC9F96;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#post-11 .commande .produit .signe-moins {
    border-top: 1px solid #ffffff;
}

#post-11 .commande .produit .bt-commande a {
    height: 56px;
}

#post-11 .commande .produit .btn-ok {
    width: 85px;
    height: 56px;
}

/* --------------------------------------------- formulaire >>> page commande   -------------------------------------*/
#post-11 .form-commande {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

#post-11 .formulaire_commande .form-commande .vos-informations {
    width: 100%;
}

#nf-form-title-2,
#nf-form-title-3 {
    font-family: 'syne';
    font-size: 30px;
    font-weight: 700;
}

#nf-field-5-container .nf-field,
#nf-field-9-container .nf-field {
    margin-top: 50px;
}

#nf-field-5,
#nf-field-6,
#nf-field-7,
#nf-field-8,
#nf-field-9,
#nf-field-10,
#nf-field-11 {
    border-radius: 10px;
}

#nf-field-7,
#nf-field-11 {
    margin-bottom: -20px;
}

#nf-form-2-cont .nf-form-layout .nf-form-content {
    display: block;
    width: 100%;
}

#nf-form-3-cont .nf-form-layout .nf-form-content {
    display: block;
    width: 100%;
}

#post-11 .formulaire_commande .btn-commander {
    border-radius: 5px;
    padding: 0 35px 50px 0;
}

#nf-form-title-3 {
    margin-left: -10px;
}

#nf-form-3-cont .nf-form-layout .nf-form-content {
    margin-left: -20px;
}

#nf-form-2-cont {
    border-right: 1px solid #ffffff;
    padding-right: 5%;
}

/* photo cannettes bas de page */

#post-7 .bloc4 .can,
#post-9 .can {
    padding-top: 5%;
}


/* ----------------------------------------------  footer ------------------------------------------------*/


#colophon .site-info {
    text-align: center;
}

#colophon .site-info a {
    border-bottom: none;
    text-decoration: none;
    border: none;
}

#colophon .site-info a:hover {
    text-decoration: none;
}

/* -----------------------------  responsive  ----------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (min-width: 320px) and (max-width: 480px) {

    /* polices */

    .titreh2vert {
        font-size: 22px;
        font-weight: 800;
        color: #3B8E46;
    }

    .titreh3vert {
        font-size: 20px;
        font-weight: 700;
        color: #3B8E46;
    }

    .titreh2rose {
        font-size: 22px;
        font-weight: 800;
        color: #d2776a;
    }

    /* navigation */

    #masthead .menu-button-container {
        margin-left: 65%;
    }

    #masthead .site-logo .custom-logo {
        max-width: 300px;
        max-height: 300px;
        width: 135px;
        height: 50%;
        padding: 0;
    }

    #masthead {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #masthead .menu-button-container {
        width: 30%;
    }

    #primary-open-menu {
        background-color: #c02e44;
        height: 50px;
    }

    #primary-close-menu {
        background-color: #c02e44;
        height: 50px;

    }

    #primary-open-menu .dropdown-icon.open {
        color: #ffffff;
    }

    #primary-close-menu {
        color: #ffffff;

    }

    #site-navigation {
        width: 20%;
    }

    #masthead .site-branding {
        width: 30%;
        margin-right: 70%;
    }

    #masthead .site-branding .site-logo {
        height: 80px;
    }

    #menu-primary-2 a {
        font-size: 16px;
    }

    #primary-open-menu:hover {
        background-color: #c02e44;
    }

    /* sections */
    /* --------------------------------------    page d'accueil  ----------------------------------------------*/

    #post-7 .bloc2 {
        display: block;
    }

    #post-7 .bloc2 p {
        width: 60%;
        margin: 0 auto;
    }

    #main #post-7 .lesgouts .galerie {
        display: block;
        width: 100%;
    }

    #main #post-7 .lesgouts .galerie .image {
        width: 95%;
    }

    #main #post-7 .lesgouts .galerie .image img {
        object-fit: fill;
    }

    #post-7 .bloc3 {
        padding-bottom: 0;
    }

    #post-7 .lesgouts .wp-block-buttons .wp-block-button {
        padding-top: 10%;
    }



    /* ------------------------------------------ page "nous rencontrer" --------------------------------*/

    #post-9 .bloc1-1 .nous-rencontrer {
        display: block;
        margin: 0 auto;
    }

    #post-9 .bloc1-1 .nous-rencontrer .fleur1 {
        margin: 0 auto;
    }

    #post-9 .bloc1-1 .nous-rencontrer .fleur1 img {
        margin: 0 auto;
    }

    #post-9 .bloc1-1 h2 {
        margin: 0;
        text-align: center;
    }

    #post-9 .bloc1-1 .chezplanty-p {
        width: 80%;
        padding: 5% 0 0 5%;
    }


    #post-9 .equipe .membres {
        width: 100%;
    }

    #post-9 .equipe .branche img {
        width: 30%;
        margin-left: 70%;

    }

    /* ---------------------------- formulaire >>> page "nous rencontrer" ----------------------------------*/
    #post-9 .nous-contacter .formulaire-contact {
        margin-right: 0;
    }


    #post-9 .nous-contacter .formulaire-contact .fleur-16 img {
        margin: auto;
        display: block;
        width: 50%;
    }

    #nf-form-1-cont .nf-form-layout form .nf-form-content {
        margin: 0 auto;
        width: 100%;
        display: block;
    }

    #nf-field-4 {
        width: 50%;
        margin: 5% 0 0 23%;
    }

    /* -------------------------------------- page commande -------------------------------------------------------*/
    #post-11 .header-commander h2 {
        font-size: 30px;
        font-weight: 700;
    }

    #post-11 .header-commander h3 {
        font-size: 25px;
        font-weight: 700;
    }

    #post-11 .commande .wp-block-group__inner-container {
        display: block;
        margin: auto;
    }

    #post-11 .commande .produit img {
        max-width: 90%;
    }

    #post-11 .commande .produit {
        min-width: 285px;
        max-width: none;
        padding: 5% 0 5% 0;
    }

    #post-11 .commande .produit .qte-moins {
        border-top: 1px solid #ffffff;
    }

    #post-11 .commande .produit .plus-moins p {
        font-size: 20px;
        height: 9px;
    }

    #post-11 .commande .produit .set-commande {
        min-width: 285px;
        max-width: none;
    }



    /* formulaire de commande */

    #nf-form-2-cont {
        border: none;
        padding: 0;
    }

    #nf-form-2-cont .nf-form-layout .nf-form-content {
        max-width: 290px;
    }

    #nf-form-3-cont .nf-form-layout .nf-form-content {
        max-width: 290px;
    }

    #post-11 .formulaire_commande .form-commande .vos-informations {
        text-align: center;
    }

    #post-11 .formulaire_commande .form-commande .livraison {
        text-align: center;

    }

    #nf-form-3-cont .nf-form-layout .nf-form-content {
        display: block;
        margin: 0 auto;
    }

    #post-11 .formulaire_commande .btn-commander {
        padding: 0;


    }

}

@media only screen and (min-width: 481px) and (max-width: 800px) {

    #post-11 .commande .produit .bon-commande {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 56px;
    }

    #post-11 .commande .produit .plus-et-moins {
        flex-basis: 31px;
        background-color: aqua;
    }

    #post-11 .commande .produit .col-plus {
        margin: auto;
        padding-top: 30%;
    }

    #post-11 .commande .produit .qte-moins {
        border-top: 1px solid #ffffff;
    }

    #post-11 .commande .produit .plus-moins p {
        padding: 3%;
        font-size: 20px;

    }

    /* polices */

    .titreh2vert {
        font-size: 22px !important;
        font-weight: 800;
        color: #3B8E46;
    }

    .titreh3vert {
        font-size: 20px !important;
        font-weight: 700;
        color: #3B8E46;
    }

    .titreh2rose {
        font-size: 22px;
        font-weight: 800;
        color: #d2776a;
    }

    /* navigation */

    #menu-primary_logged_in-2 {
        flex-wrap: nowrap;
    }

    #menu-primary-2 {
        flex-wrap: nowrap;
    }

    #masthead .menu-button-container {
        margin-left: 65%;
    }

    #masthead .site-logo .custom-logo {
        max-width: 300px;
        max-height: 300px;
        width: 135px;
        height: 50%;
        padding: 0;
    }

    #masthead {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #masthead .menu-button-container {
        width: 30%;
    }

    #primary-open-menu {
        background-color: #c02e44;
        height: 50px;
    }

    #primary-close-menu {
        background-color: #c02e44;
        height: 50px;

    }

    #primary-open-menu .dropdown-icon.open {
        color: #ffffff;
    }

    #primary-close-menu {
        color: #ffffff;

    }

    #site-navigation {
        width: 20%;
    }

    #masthead .site-branding {
        width: 30%;
        margin-right: 50%;
    }

    #masthead .site-branding .site-logo {
        height: 80px;
    }

    #menu-primary-2 a {
        font-size: 16px;
    }

    #primary-open-menu:hover {
        background-color: #c02e44;
    }

    /* sections */
    /* --------------------------------------    page d'accueil  ----------------------------------------------*/

    #post-7 .bloc2 {
        display: block;
    }

    #post-7 .bloc2 p {
        width: 60%;
        margin: 0 auto;
    }

    #main #post-7 .lesgouts .galerie {
        display: flex;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
    }

    #main #post-7 .lesgouts .galerie .image {
        width: 95%;
        margin: 3%;
        height: auto;
    }

    #main #post-7 .lesgouts .galerie .image img {
        object-fit: cover;
        height: auto;
    }

    #post-7 .bloc3 {
        padding-bottom: 0;
    }

    #post-7 .bloc4 .temoignages {
        text-align: center;
        padding: 0 !important;
    }

    #post-7 .bloc4 .temoignages h2 {
        font-size: 25px;
    }
}

#post-7 .lesgouts .wp-block-buttons .wp-block-button {
    padding-top: 10%;
}



/* ------------------------------------------ page "nous rencontrer" --------------------------------*/

#post-9 .bloc1-1 .nous-rencontrer {
    display: block;
    margin: 0 auto;
}

#post-9 .bloc1-1 .nous-rencontrer .fleur1 {
    margin: 0 auto;
}

#post-9 .bloc1-1 .nous-rencontrer .fleur1 img {
    margin: 0 auto;
}

#post-9 .bloc1-1 h2 {
    margin: 0;
    text-align: center;
}

#post-9 .bloc1-1 .chezplanty-p {
    width: 80%;
    padding: 5% 0 0 5%;
}


#post-9 .equipe .membres {
    width: 100%;
}

#post-9 .equipe .branche img {
    width: 30%;
    margin-left: 80%;

}

/* ---------------------------- formulaire >>> page "nous rencontrer" ----------------------------------*/


#post-9 .nous-contacter .formulaire-contact {
    margin: auto;
    display: block;
}

#post-9 .nous-contacter .formulaire-contact .fleur-16 figure {
    margin: auto;
    display: block;
    width: 100%;
}

#post-9 .nous-contacter .formulaire-contact .fleur-16 img {
    margin: auto;
    display: block;
    width: 30%;
}

#nf-form-1-cont .nf-form-layout form .nf-form-content {
    margin: 0 auto;
    width: 100%;
    display: block;
}

#nf-field-4 {
    width: 50%;
    margin: 5% 0 0 23%;
}

/* -------------------------------------- page commande -------------------------------------------------------*/

#post-11 .header-commander h2 {
    font-size: 30px;
    font-weight: 700;
}

#post-11 .header-commander h3 {
    font-size: 25px;
    font-weight: 700;
}

#post-11 .commande .wp-block-group__inner-container {
    display: block;
    margin: auto;
}

#post-11 .commande .produit img {
    max-width: 80%;
}

#post-11 .commande .produit {
    min-width: 300px;
    max-width: none;
    padding: 5% 0 5% 0;
}

#post-11 .commande .produit .set-commande {
    min-width: 320px;
    max-width: none;
}

#post-11 .commande .quantite {
    flex-basis: 70%;
}


/* formulaire de commande */

#nf-form-2-cont {
    border: none;
    padding: 0;
}

#nf-field-9-wrap .nf-field-label label {
    padding: 3%;
}

#post-11 .commande .produit .quantite {
    display: block;
    width: 56px;
    margin-right: -11px;
}

#post-11 .commande .produit .plus-moins {
    display: block;
    height: 56px;
    width: 31px;
    margin-left: -11px;
    background-color: #DC9F96;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#post-11 .commande .produit .quantite h5 {
    height: 56px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    display: flex;
}

#post-11 .formulaire_commande .form-commande .vos-informations {
    text-align: center;
}

#post-11 .formulaire_commande .form-commande .livraison {
    text-align: center;

}

#nf-form-3-cont .nf-form-layout .nf-form-content {
    display: block;
    margin: 0 auto;
}

#post-11 .formulaire_commande .btn-commander {
    padding: 0;


}

#post-9 .can {
    padding-top: 0;
}


@media only screen and (min-width: 801px) and (max-width: 1024px) {

    #post-7 .bloc4 .temoignages .titreh3vert {
        font-size: 25px !important;
    }

    #post-7 .bloc4 .temoignages {
        padding: 0 !important;
    }
    #main .lesgouts .galerie {

        max-width: none;
        width: 750px;
    }

    #main #post-7 .lesgouts .galerie .image img {
        object-fit: fill;
        height: auto;
    }
    #post-9 .bloc1-1 .chezplanty-p {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #post-9 .equipe .branche img {
        width: 30%;
        margin-left: 80%;

    }

    #post-11 .commande .produit {
        max-width: 190px;
        margin-top: 0;
        margin-bottom: 1%;
        margin-right: 1%;
    }

    #post-11 .commande .produit .qte-moins {
        border-top: 1px solid #ffffff;
    }

    #post-11 .commande .produit .plus-moins p {
        padding: 10%;
        font-size: 20px;

    }
}

@media only screen and (min-width: 1025px) {
    #post-11 .commande .produit .qte-moins {
        border-top: 1px solid #ffffff;
    }

    #post-11 .commande .produit .plus-moins p {
        padding: 10%;
        font-size: 20px;

    }
}