@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
footer,
header,
menu,
nav,
output,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------------------------------- mise en page ----------------------------------------------- */

html,
body {
    overflow-x: hidden;
}

body * {
    font-family: 'Syne', sans-serif;
}

h1 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
}

h2 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

p {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

#content {
    margin-top: -30px;
}

#menu-primary_logged_in-2 a {
    border-bottom: none;
    text-decoration: none;
}

/* ------------------------------------------  header --------------------------------------- */
body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#site-navigation {
    max-width: 1440px;
    height: 80px;
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
}

#masthead {
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 80px;
}

#masthead .site-logo .custom-logo {
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    padding: 0;
}

/* ------------------------------------------------  nav --------------------------------------------*/


#primary-close-menu .primary-menu-container {
    width: auto;
}

#post-7 .entry-header {
    display: none;
}

#post-11 .entry-header {
    display: none;
}

#main {
    padding: 0;
}

/* ////////////////          menu de navigation               ////////////////////////////*/

/* ------------------------------------  menu utilisateur non connecté -------------------------------------*/

#menu-primary-2 {
    height: 80px;
    border: none;

}

#menu-primary-2 li a {

    border-bottom: none;
}


#menu-primary-2 li:hover {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    border-bottom: none;
    padding: 0;
}

#menu-primary-2 li:hover a {
    text-decoration: none;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    border-bottom: none;
    padding: 26px 13px 26px 13px;

}

/* --- lien "Précommander" ---*/
#menu-primary-2 li.menu-item:nth-child(2) {
    background-color: #DC9F96;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 700;
    padding: 0;
    height: 80px;
}

#menu-primary-2 li.menu-item:nth-child(2):hover {

    background-color: #c02e44;
}

#menu-primary-2 li.menu-item:nth-child(2) a {

    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #ffffff;
    padding: 26px 13px 26px 13px;

}




/* -------------------------------------  menu utilisateur connecté --------------------------------------*/

#menu-primary_logged_in-2 {
    height: 80px;
}

/* ---- liens "Nous rencontrer" et "Admin"  ------*/


#menu-primary_logged_in-2 li:nth-child(-n+2) {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 0;
    height: 80px;


}

#menu-primary_logged_in-2 a {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 26px 13px 26px 13px;


}


#menu-primary_logged_in-2 a:hover {
    text-decoration: none;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

/* ---- lien "Précommande" ---*/

#menu-primary_logged_in-2 .menu-item-707 {
    background-color: #DC9F96;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 700;
    height: 80px;

}

#menu-primary_logged_in-2 .menu-item-707:hover {
    background-color: #c02e44;


}

#menu-primary_logged_in-2 .menu-item-707 a {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #ffffff;
    padding: 26px 13px 26px 13px;


}

#menu-primary_logged_in-2 .menu-item-707 a:hover {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #ffffff;



}



/* polices */

.titreh2vert {
    font-size: 38px;
    font-weight: 800;
    color: #3B8E46;
}

.titreh3vert {
    font-size: 30px;
    font-weight: 700;
    color: #3B8E46;
}

.titreh2rose {
    font-size: 38px;
    font-weight: 800;
    color: #d2776a;
    text-align: center;
}

/* blocs de contenu */
/* sections */
/* ----------------------------------------  page d'accueil ---------------------------------------------*/


#post-7 .bloc1 {
    background-color: #ECE2DA;
    padding-top: 100px;

}

#post-7 .bloc2 {
    padding: 10% 0 100px 0;
    margin-top: -10%;
    background-image: url(../boris/img/rectangle6.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    height: 80%;
}

#post-7 .bloc2 p {
    margin: 0;
    line-height: 24px;
}

#post-7 .bloc3 {

    padding: 100px 0 0 0;
}

#post-7 .lesgouts .wp-block-buttons .wp-block-button a {
    width: 198px;
    border-radius: 5px;
}

#main .lesgouts .galerie {

    max-width: none;
    width: 900px;
}

#main #post-7 .lesgouts .galerie .image {
    width: 393px;
    height: 262px;
    margin: 3%;
    width: 40%;

}

#post-7 .bloc4 .temoignages {
    padding: 3em 0 3em 0;
    justify-content: center;
}

#post-7 .lesgouts {
    border-bottom: 3px solid #ECE2DA;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#post-7 .bloc4 {
    justify-content: center;
}

/* -------------------------------------  page "nous rencontrer" ----------------------------------------------*/


#post-9 .entry-title {
    display: none;
}

.bloc1-1 .wp-block-group__inner-container {
    background-color: #ECE2DA;

}

#post-9 .bloc1-1 .nous-rencontrer {
    padding-top: 10%;
}

#post-9 .bloc1-1 .nous-rencontrer .ns-rencontrer,
#post-9 .bloc1-1 .nous-rencontrer .ns-rencontrer h2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#post-9 .bloc1-1 h2 {
    margin-top: 10%;
    font-size: 37px;

}

#post-9 .bloc1-1 .ns-rencontrer p {
    width: 72%;
    margin-left: 14%;
    margin-right: auto;
}

#post-9 .equipe {
    background-image: url(../boris/img/rectangle6.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    padding-top: 10%;
}

#post-9 .equipe h2 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

#post-9 .equipe .membres .personne h3 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

#post-9 .equipe .membres {
    position: relative;
    width: 80%;
    z-index: 100;
}

#post-9 .bloc1-1 .box-fleur1 {
    position: relative;
}

#post-9 .bloc1-1 .box-fleur1 img {

    position: absolute;
    right: -50%;
    top: -150px;
    transform: rotate(70deg);
}


#post-9 .nous-contacter .code-court {
    z-index: 100;
}

#post-9 .nous-contacter .formulaire-contact .fleur-16 {
    position: relative;
    z-index: 0;
}

#post-9 .nous-contacter .formulaire-contact .fleur-16 img {
    position: absolute;
    left: -20%;
    top: -250px;
}

#post-9 .nous-contacter .formulaire-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 383px;

}

/* -------------------------------   page "nous rencontrer" >>> formulaire -----------------------------------------------*/

#post-9 .nous-contacter h2 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-top: 3%;
}

#post-9 .nous-contacter.formulaire-contact {
    display: flex;
    z-index: 100;
}

/* --- formulaire contact form ---*/

#wpcf7-f708-p9-o1 form p label span input {
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    max-width: 383px;
    margin: 20px 0 20px 0;
}

#wpcf7-f708-p9-o1 form p:nth-child(4) label span textarea {
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    max-width: 383px;
    margin: 20px 0 20px 0;


}

#wpcf7-f708-p9-o1 form .bt-envoyer {
    display: flex;
    justify-content: center;

}

#wpcf7-f708-p9-o1 form .bt-envoyer p {
    max-width: 198px;
}

#wpcf7-f708-p9-o1 form .bt-envoyer p input {
    background-color: #E0B9B4;
    width: 198px;
    position: relative;
    margin-top: 24px;
}





/* -------------------------------------- page commande --------------------------------------------------*/


/* header */
#post-663>header>h1 {
    display: none;
}

#post-11 .header-commander {
    display: flex;
}

.header-commander .wp-block-group__inner-container {
    max-width: 860px;

}


.top-commander h2 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
    padding: 50px 0 70px 0;
    border-bottom: 1px solid #ffffff;
    text-transform: uppercase;
}

.top-commander h3 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
}



/* -----------  fin header ------*/

/* -----------------------------------------------   section commande   --------------------------------- */

#post-11 .commande .wp-block-group__inner-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #3B8E46;
    max-width: 860px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ffffff;

}

#post-11 .commande .produit {
    max-width: 193px;
    margin-top: 0;
    margin-bottom: 1%;

}

#post-11 .commande .produit .set-commande {
    display: flex;
    justify-content: space-evenly;
    height: 56px;

}

#post-11 .commande .produit .quantite {
    display: block;
    width: 56px;
}

#post-11 .commande .produit .quantite h5 {
    height: 56px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
}

#post-11 .commande .produit .plus-moins {
    display: block;
    height: 56px;
    width: 31px;
    margin-left: -11px;
    background-color: #DC9F96;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#post-11 .commande .produit .signe-moins {
    border-top: 1px solid #ffffff;
}

#post-11 .commande .produit .bt-commande a {
    height: 56px;
    width: 85px;
}

#post-11 .commande .produit .btn-ok {
    width: 85px;
    height: 56px;
}

/* --------------------------------------------- formulaire >>> page commande   -------------------------------------*/

#post-663 .header-commander h3 {
    text-align: left;
}

/* ----- section images produits + quantités --- */
#wpcf7-f670-p663-o1 form .commande-panier {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 860px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 3%;
}

#wpcf7-f670-p663-o1 form .commande-panier .panier {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
}



#wpcf7-f670-p663-o1 form .commande-panier .panier p {
    display: flex;
    justify-content: center;
    align-items: center;

}

#wpcf7-f670-p663-o1 form .commande-panier .bottom-commande-produit .panier p span input {
    width: 56px;
    height: 56px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #ffffff;
    border: none;
}

#wpcf7-f670-p663-o1 form .commande-panier .bottom-commande-produit {
    display: flex;
    max-height: 56px;
    align-items: center;
    margin: 5% 0;
}

#wpcf7-f670-p663-o1 form .commande-panier .panier {
    display: flex;
    margin-top: 5%;
    width: 50%;
}

#wpcf7-f670-p663-o1 form .commande-panier .bt-valid {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 50%;
    margin-top: 5%;
}

#wpcf7-f670-p663-o1 form .commande-panier .bt-valid .wpcf7-spinner {
    display: none;
}

#wpcf7-f670-p663-o1 form .commande-panier .bottom-commande-produit .bt-valid #btn-ok {
    max-height: 56px;
    background-color: #E0B9B4;
    width: 100px;
}


#wpcf7-f670-p663-o1 form .commande-panier .panier .plus-mois span .signe-moins {
    width: 51px;
    border-top: 1px solid #ffffff;
}

#wpcf7-f670-p663-o1 form .commande-panier .panier .plus-moins {
    width: 31px;
}


#wpcf7-f670-p663-o1 form .commande-panier .panier .plus-moins p {
    display: flex;
    max-height: 58px;
    background: #DC9F96;
    box-shadow: 0px 4px 14px rgb(0 0 0 / 4%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    flex-direction: column;
}




#wpcf7-f670-p663-o1 form .commande-panier .panier .plus-moins a {
    width: 100%;
    height: 28px;
    border: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wpcf7-f670-p663-o1 form .commande-panier .panier .plus-moins .signe-plus {
    border-bottom: 1px solid #ffffff;
}

#wpcf7-f670-p663-o1 form .commande-panier .bottom-commande-produit .bt-valid p {
    width: 100px;
    background-color: #DC9F96;
    color: #FFFFFF;
    height: 56px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    width: 100px;

}

#wpcf7-f670-p663-o1 form .commande-panier .bottom-commande-produit .bt-valid p a {
    border: none;
}


#wpcf7-f670-p663-o1>form>div.commande-panier .panier p #btn-panier {
    width: 100%;
    height: 56px;
    max-width: 51px;
    background: #FFFFFF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
}

#wpcf7-f670-p663-o1 form .commande-panier .panier p #btn-ok {
    height: 56px;
    max-width: 100px;
    background-color: #E0B9B4;
    border-radius: 5px;
    margin-left: 70%;
}


#wpcf7-f670-p663-o1 form .commande-panier .commande-produit {
    display: block;
    max-width: 192px;
    margin: 1%;
}

#wpcf7-f670-p663-o1 form .commande-panier .panier p .wpcf7-spinner {
    display: none;
}

/* -------------------- formulaire "Vos informations" + "Livraison" --------------------------------*/


#wpcf7-f670-p663-o1 form .infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 130px;
    max-width: 860px;
    max-height: 380px;
    margin-left: auto;
    margin-right: auto;
}

/* --- champs groupés à gauche du formulaire --- */

#wpcf7-f670-p663-o1 form .infos .champs-groupe-1 {
    border-right: 1px solid #ffffff;
    width: 50%;
}

#wpcf7-f670-p663-o1 form .champs-groupe-1 label {
    color: #ffffff
}

#wpcf7-f670-p663-o1 form .champs-groupe-1 #name,
#first-name,
#email {
    background-color: #ffffff;
    margin: 15px 0 20px 0;
    border-radius: 7px;
    width: 90%;

}

#wpcf7-f670-p663-o1 form .infos .champs-groupe-1 h2,
#wpcf7-f670-p663-o1 form .infos .champs-groupe-2 h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    padding: 3% 0 3% 0;
}

/* --- champs groupés à droite du formulaire --- */


#wpcf7-f670-p663-o1 form .champs-groupe-2 {
    padding-left: 5%;
    width: 50%;
}

#wpcf7-f670-p663-o1 form .champs-groupe-2 #adresse,
#cp,
#ville {
    background-color: #ffffff;
    margin: 15px 0 20px 0;
    border-radius: 5px;
    width: 95%;

}

#wpcf7-f670-p663-o1 form .champs-groupe-2 label {
    color: #ffffff
}

#wpcf7-f670-p663-o1 form .champs-groupe-2 label input {
    background-color: #ffffff;
    margin: 20px 0 20px 0;
    border-radius: 15px;

}

/* bouton "commander" centré */

#wpcf7-f670-p663-o1 form .bouton-centre {
    display: flex;
    justify-content: center;
}

#wpcf7-f670-p663-o1 form .bouton-centre p input {

    background-color: #DC9F96;
    margin-top: 40%;
    width: 198px;
}

#post-663 .h2-informations {
    padding-left: 38%;
}

#post-663 .h2-livraison {
    padding-left: 10%;
}



#post-11 .form-commande {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

#post-11 .formulaire_commande .form-commande .vos-informations {
    width: 100%;
}


#post-11 .formulaire_commande .btn-commander {
    border-radius: 5px;
    padding: 0 35px 50px 0;
}





/* ----------------------------------------------  footer ------------------------------------------------*/


#colophon .site-info {
    text-align: center;
}

#colophon .site-info a {
    border-bottom: none;
    text-decoration: none;
    border: none;
}

#colophon .site-info a:hover {
    text-decoration: none;
}

/* -----------------------------  responsive  ----------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (min-width: 300px) and (max-width: 480px) {

    /* polices */

    .titreh2vert {
        font-size: 21px;
        font-weight: 800;
        color: #3B8E46;
    }

    .titreh3vert {
        font-size: 24px;
        font-weight: 700;
        color: #3B8E46;
    }

    .titreh2rose {
        font-size: 20px;
        font-weight: 800;
        color: #d2776a;
    }


    /* navigation */

    #masthead .menu-button-container {
        margin-left: 65%;
    }

    #masthead .site-logo .custom-logo {
        max-width: 300px;
        max-height: 300px;
        width: 150px;
        padding: 0;
    }

    #masthead {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #masthead .menu-button-container {
        width: 35%;
    }

    #primary-open-menu {
        background-color: #c02e44;
    }

    #primary-close-menu {
        background-color: #c02e44;

    }

    #primary-open-menu .dropdown-icon.open {
        color: #ffffff;
    }

    #primary-close-menu {
        color: #ffffff;

    }

    #menu-primary_logged_in-2 {
        padding: 2%;
    }

    .primary-menu-container ul li {
        text-align: center;
    }

    #menu-primary-2 {
        margin-top: 20%;
    }

    #menu-primary-2 li.menu-item:nth-child(2) {
        height: auto;
    }

    #site-navigation {
        width: 20%;
    }

    #masthead .site-branding {
        width: 30%;
        margin-right: 70%;
    }

    #masthead .site-branding .site-logo {
        height: 80px;
    }

    #menu-primary-2 li {
        height: 71px;

    }

    #menu-primary-2 li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        font-size: 20px;
    }

    #menu-primary_logged_in-2 .menu-item-707 {
        background-color: #DC9F96;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        font-weight: 700;

    }

    #primary-open-menu:hover {
        background-color: #c02e44;
    }


    .primary-navigation-open .primary-navigation>.primary-menu-container,
    .primary-navigation-open .woo-navigation>.primary-menu-container {
        background-color: #E0B9B4;
        width: 80%;
        margin-left: 20%;
    }

    #menu-primary_logged_in-2 li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid #c02e44;
    }

    /* sections */
    /* -----------------------------------  page d'accueil  300px >> 480px ----------------------------------------------*/
    #post-663 {
        display: block;
        margin: auto;
    }


    #post-663 .header-commander .wp-block-group__inner-container .top-commander h2 {
        font-size: 20px;
        text-align: center;
        padding-bottom: 50px;
        text-transform: uppercase;
    }

    #post-663 .header-commander .wp-block-group__inner-container .top-commander h3 {
        font-size: 17px;
        text-align: center;
    }

    #post-7 .bloc2 {
        display: block;
        padding: 20% 0 30px 0;
    }

    #post-7 .bloc2 p {
        width: 60%;
        margin: 0 auto;
        font-size: 15px;
    }

    #main #post-7 .lesgouts .galerie {
        display: flex;
        width: 90%;
    }

    #main #post-7 .lesgouts .galerie .image {
        width: 95%;
        height: auto;
    }

    #main #post-7 .lesgouts .galerie .image img {
        object-fit: fill;
    }

    #post-7 .bloc3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 0 0 0;
    }

    #post-7 .bloc3 p {
        font-size: 15px;
    }

    #post-7 .lesgouts .wp-block-buttons .wp-block-button {
        padding-top: 10%;
    }

    #post-7 .bloc4 .temoignages {
        padding: 0 !important;
        text-align: center;
    }

    /* --------------------------------- page "nous rencontrer" 300px >> 480px--------------------------------*/


    #post-9 .equipe {
        background-image: url(../boris/img/rectangle6.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100%;
        object-fit: cover;
        height: 80%;
    }

    .bloc1-1 .wp-block-group__inner-container {
        border: none;
    }

    #post-9 .bloc1-1 .box-fleur1 img {
        position: relative;
        transform: rotate(70deg);
        right: 0;
        top: 0;


    }

    #post-9 .bloc1-1 .nous-rencontrer {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }



    #post-9 .bloc1-1 h2 {
        margin-top: 3%;
        text-align: center;
        font-size: 17px;
    }


    #post-9 .equipe .membres {
        width: 100%;
    }



    /* ------------------------- formulaire >>> page "nous rencontrer" 300px >> 480px ----------------------------------*/

    #wpcf7-f708-p9-o1 form p label span input {
        width: 100%;
    }


    #post-9 .bloc1-1 .ns-rencontrer p {
        width: 100%;
        margin: 0;
        font-size: 15px;
        padding: 2% 5%;
        text-align: center;
    }

    #post-9 .equipe .branche {
        position: relative
    }

    #post-9 .equipe .branche img {
        position: absolute;
        right: 6%;
        width: 15%;
        bottom: 0;
    }

    #post-9 .nous-contacter .formulaire-contact .fleur-16 {
        position: relative;
    }

    #post-9 .nous-contacter .formulaire-contact .fleur-16 img {
        position: absolute;
        width: 20%;
        left: -10%;
        top: -230px;
    }

    /* -------------------------------- page commande 300px >> 480px ---------------------------------------------------*/
    #post-11 .header-commander h2 {
        font-size: 30px;
        font-weight: 700;
    }

    #post-11 .header-commander h3 {
        font-size: 25px;
        font-weight: 700;
    }

    #post-11 .commande .wp-block-group__inner-container {
        display: block;
        margin: auto;
    }

    #wpcf7-f670-p663-o1 form .commande-panier {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    #wpcf7-f670-p663-o1 form .commande-panier .panier {
        display: flex;
        margin-top: 5%;
        width: 50%;
    }

    #wpcf7-f670-p663-o1 form .commande-panier .bt-valid {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin-top: 5%;
    }

    #wpcf7-f670-p663-o1 form .commande-panier .commande-produit {
        max-width: none;
        margin: 2%;
        padding-bottom: 15%;
    }

    #wpcf7-f670-p663-o1 form .commande-panier .bottom-commande-produit {
        display: flex;
        max-height: 56px;
        align-items: center;
        margin: 5% 0;
    }

    #wpcf7-f670-p663-o1 form .commande-panier .bottom-commande-produit .bt-valid p {
        max-width: 100px;
    }


    #wpcf7-f670-p663-o1 form .commande-panier .bottom-commande-produit .bt-valid p span {
        display: none;
    }

    #wpcf7-f670-p663-o1 form .commande-panier .bottom-commande-produit .bt-valid #btn-ok {
        max-height: 56px;
        background-color: #E0B9B4;
        width: 100px;
    }

    #post-11 .commande .produit img {
        max-width: 90%;
    }

    #post-11 .commande .produit {
        max-width: none;
        padding: 5% 0 5% 0;
    }

    #post-11 .commande .produit .qte-moins {
        border-top: 1px solid #ffffff;
    }

    #post-11 .commande .produit .plus-moins p {
        font-size: 20px;
        height: 9px;
    }


    #post-11 .commande .produit .set-commande {
        display: flex;
        justify-content: space-between;
        width: 90%;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }

    #post-11 .commande .produit .bt-commande {
        padding-left: 18%;
    }

    /* formulaire de commande - 300px >> 480px */

    #wpcf7-f670-p663-o1 form .infos {
        display: block;
        margin: auto;
        text-align: center;
        max-height: none;
    }

    #wpcf7-f670-p663-o1 form .infos .champs-groupe-1 {
        display: block;
        width: 100%;
        border: none;
        margin-top: 10%;

    }

    #wpcf7-f670-p663-o1 form .infos .champs-groupe-1 h2,
    #wpcf7-f670-p663-o1 form .infos .champs-groupe-2 h2 {
        font-size: 23px;
        padding: 5%;
    }

    #wpcf7-f670-p663-o1 form .infos .champs-groupe-2 {
        display: block;
        width: 100%;
        margin-top: 10%;

    }

    #post-11 .form-commande {
        color: #ffffff;
        width: 90%;

    }

    #post-11 .formulaire_commande .form-commande .vos-informations {
        text-align: center;
    }

    #post-11 .formulaire_commande .form-commande .livraison {
        text-align: center;

    }

    #post-11 .formulaire_commande .btn-commander {
        padding: 0;

    }

    #wpcf7-f670-p663-o1 form .bouton-centre p input {
        margin-top: 20%;
        width: 140px;
    }


}


@media only screen and (min-width: 481px) and (max-width: 800px) {

    #post-11 .commande .produit .bon-commande {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 56px;
    }

    #post-11 .commande .produit {
        width: 90%;
        max-width: none;
    }

    #post-11 .commande .wp-block-group__inner-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        background-color: #3B8E46;
        max-width: 860px;
        padding: 0 5% 50px 0;
        border-bottom: 1px solid #ffffff;
        flex-direction: column;
        width: 90%;
    }

    #wpcf7-f670-p663-o1 form .commande-panier {
        display: flex;
        flex-direction: column;
        padding-bottom: 15%;
    }

    #post-11 .commande .produit .plus-et-moins {
        flex-basis: 31px;
    }

    #post-11 .commande .produit .col-plus {
        margin: auto;
        padding-top: 30%;
    }

    #post-11 .commande .produit .qte-moins {
        border-top: 1px solid #ffffff;
    }

    #post-11 .commande .produit .plus-moins p {
        padding: 3%;
        font-size: 20px;

    }

    #post-11 .commande .produit .set-commande {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }

    #post-11 .commande .produit .bt-commande {
        padding-left: 19%;
    }

    /* polices */

    .titreh2vert {
        font-size: 22px !important;
        font-weight: 800;
        color: #3B8E46;
    }

    .titreh3vert {
        font-size: 25px !important;
        font-weight: 700;
        color: #3B8E46;
    }

    .titreh2rose {
        font-size: 22px;
        font-weight: 800;
        color: #d2776a;
    }

    /* navigation - 481px >> 800px */

    #menu-primary_logged_in-2 {
        flex-wrap: nowrap;
    }

    #menu-primary-2 {
        flex-wrap: nowrap;
    }

    #masthead .menu-button-container {
        margin-left: 65%;
    }

    #masthead .site-logo .custom-logo {
        max-width: 300px;
        max-height: 300px;
        width: 135px;
        height: 50%;
        padding: 0;
    }

    #masthead {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #masthead .menu-button-container {
        width: 30%;
    }

    #primary-open-menu {
        background-color: #c02e44;
        height: 50px;
    }

    #primary-close-menu {
        background-color: #c02e44;
        height: 50px;

    }

    #primary-open-menu .dropdown-icon.open {
        color: #ffffff;
    }

    #primary-close-menu {
        color: #ffffff;

    }

    #site-navigation {
        width: 70%;
    }

    #masthead .site-branding {
        width: 30%;
    }

    #masthead .site-branding .site-logo {
        height: 80px;
        margin: 15px 0;
    }

    #masthead .site-logo .custom-logo {
        width: 150px;
    }

    #menu-primary-2 a {
        font-size: 16px;
    }

    #primary-open-menu:hover {
        background-color: #c02e44;
    }

    #menu-primary_logged_in-2 li.menu-item-707 {
        padding: 0;
    }

    /* sections */
    /* --------------------------------------    page d'accueil - 481px >> 800px ---------------------------------------*/

    #post-7 .bloc2 {
        display: block;
        padding: 10% 0 100px 0;
    }

    #post-7 .bloc2 p {
        width: 60%;
        margin: 0 auto;
    }

    #post-7 .bloc2 h2 {
        margin-top: 10%;
    }

    #main #post-7 .lesgouts .galerie {
        display: flex;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
    }

    #main #post-7 .lesgouts .galerie .image {
        width: 95%;
        margin: 3%;
        height: auto;
    }

    #main #post-7 .lesgouts .galerie .image img {
        object-fit: cover;
        height: auto;
    }

    #post-7 .bloc3 {
        padding: 50px 0 0 0;
    }

    #post-7 .bloc4 .temoignages {
        text-align: center;
        padding: 0 !important;
    }

    #post-7 .bloc4 .temoignages h2 {
        font-size: 25px;
    }

    #post-9 .bloc1-1 .box-fleur1 {
        padding: 0;
    }

    /* ----------------------------------------- page "nous rencontrer" 481px >> 800px --------------------------------*/


    #post-9 .bloc1-1 h2 {
        margin-top: 10%;
        text-align: center;
        margin-left: 0;
    }

    #post-9 .bloc1-1 .nous-rencontrer {
        display: block;
    }

    #post-9 .bloc1-1 .nous-rencontrer .ns-rencontrer,
    #post-9 .bloc1-1 .nous-rencontrer .ns-rencontrer h2 {
        font-size: 23px;
    }

    #post-9 .bloc1-1 .chezplanty {
        display: block;
        text-align: center;
    }

    #post-9 .bloc1-1 .box-fleur1 figure img {
        width: 40%;
        position: relative;
        top: 0;
        left: 0;
    }

    #post-9 .bloc1-1 .ns-rencontrer p {
        padding: 0 7%;
        font-size: 15px;
    }

    #post-9 .equipe .branche {
        position: relative
    }

    #post-9 .equipe .branche img {
        position: absolute;
        right: 1%;
        bottom: 0;
        width: 15%;

    }

    #post-9 .nous-contacter .formulaire-contact .fleur-16 {
        position: relative;
    }

    #post-9 .nous-contacter .formulaire-contact .fleur-16 img {
        position: absolute;
        left: -15%;
        top: -265px;
        width: 30%;
    }






    /* ----------------------------------------- page "Précommande" 481px >> 800px --------------------------------*/

    #post-663 .header-commander h3 {
        text-align: center;
    }

    #post-663 .header-commander h2 {
        padding-bottom: 50px;
        text-transform: uppercase;
    }

    #wpcf7-f670-p663-o1 form .commande-panier {
        width: 80%;
    }

    #wpcf7-f670-p663-o1 form .commande-panier .commande-produit {
        display: block;
        margin: 1%;
        max-width: none;
    }

    #wpcf7-f670-p663-o1 form .commande-panier .bottom-commande-produit .bt-valid #btn-ok {
        width: 100px;
    }

    #wpcf7-f670-p663-o1 form .infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 130px;
        max-width: 860px;
        max-height: none;
        margin-left: auto;
        margin-right: auto;
    }

    #wpcf7-f670-p663-o1 form .infos .champs-groupe-1 {
        text-align: center;
        width: 100%;
        border: none;
    }

    #wpcf7-f670-p663-o1 form .champs-groupe-2 {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    #wpcf7-f670-p663-o1 form .bouton-centre p input {
        margin-top: 20%;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {

    #post-7 .bloc3 {
        padding: 50px 0 0px 0;
    }

    #post-7 .bloc4 .temoignages .titreh3vert {
        font-size: 25px !important;
    }

    #post-7 .bloc4 .temoignages {
        padding: 0 !important;
    }

    #main .lesgouts .galerie {

        max-width: none;
        width: 750px;
    }

    #main #post-7 .lesgouts .galerie .image img {
        object-fit: fill;
        height: auto;
    }

    #post-9 .bloc1-1 {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }

    #post-9 .bloc1-1 h2 {
        margin-top: 10%;
        font-size: 25px;
    }

    #post-9 .equipe h2 {
        margin-top: 25%;

    }

    #post-9 .bloc1-1 .ns-rencontrer h1 {
        font-size: 27px;
    }

    #post-9 .nous-rencontrer .ns-rencontrer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #post-9 .bloc1-1 .nous-rencontrer {
        width: 92%;
    }

    #post-9 .bloc1-1 .box-fleur1 figure img {
        position: absolute;
        left: 5%;
        top: -80px;
        transform: rotate(70deg);
        width: 60%;
    }

    #post-9 .bloc1-1 .ns-rencontrer p {
        font-size: 15px;
        padding: 0 6%;
        width: 100%;
        margin: 0;
    }

    #post-9 .nous-contacter .formulaire-contact .fleur-16 {
        position: relative;
    }

    #post-9 .nous-contacter .formulaire-contact .fleur-16 img {
        position: absolute;
        left: -20%;
        top: -250px;
    }

    #post-9 .equipe .branche {
        position: relative;
    }

    #post-9 .equipe .branche img {
        position: absolute;
        bottom: 0;
        width: 15%;
        right: 3%;
    }

    #wpcf7-f670-p663-o1 form .infos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 130px;
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;
    }

    #post-663 .header-commander h2 {
        padding-bottom: 50px;
        text-transform: uppercase;
    }
}